body{
	padding:0px;
	margin:0px;
}
.container{
	display:flex;
	flex-wrap:wrap;
}
.container input {
	width:80%;
	font-size:15px;
	display:inline-block;
	margin-top:10px;
	margin-bottom:10px;
}
.container span {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
}
.box{
	width: 24%;
    height: 75px;
    border: 1px solid black;
}
.box .box-title, .box-details{
	margin:0px;
}
